@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.spinner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  pointer-events: none;
}
