@import "./variables.scss";
@import "./mixins.scss";

html {
  font-size: $fontSize;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($colors, gray4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: map-get($fontWeights, light);
  font-size: toRem(48);
  line-height: toRem(60);
  color: map-get($colors, black);
}

h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: map-get($fontWeights, bold);
  font-size: toRem(21);
  line-height: toRem(26);
  color: map-get($colors, black);
}

p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: map-get($fontWeights, light);
  font-size: toRem(16);
  line-height: toRem(20);
  color: map-get($colors, black);
}
